body {
  margin: 0;
  color: white;
  background: rgb(44, 44, 44);
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid rgb(92, 92, 92);
}

.logo {
  font-weight: bold;
}

.nav-container {
  display: flex;
}

.nav-item {
  margin-right: 10px;
}

.hero-section {
  display: flex;
  margin-top: 25px;
  justify-content: space-around;
}

.hero-left {
  margin-right: 30px;
}

.icon {
  height: 40px;
}

.luffy {
  height: 450px;
  border-radius: 8px;
}
