.txt-gray {
  color: darkgray;
}

.bold {
  font-weight: bold;
}

.large {
  font-size: 100px;
}

.small {
  font-size: 20px;
}

.mb-15 {
  margin-bottom: 15px;
}

.dark-blue {
  background-color: #020817;
}
