* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background-color: rgb(34, 34, 34);
  font-family: "Poppins", sans-serif;
  padding-bottom: 500px;
}

.txt-gray {
  color: darkgray;
}

.bold {
  font-weight: bold;
}

.large {
  font-size: 90px;
}

.small {
  font-size: 20px;
}

.mb-15 {
  margin-bottom: 15px;
}

.dark-blue {
  background-color: #020817;
}

.title-section {
  font-size: 50px;
  text-align: center;
}
