* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background-color: rgb(34, 34, 34);
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid rgb(92, 92, 92);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav ul li {
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;
}

nav ul li:hover {
  color: #ff7b00;
}

/* About section */

.about-section {
  display: flex;
  justify-content: center;
  margin-top: 3.5rem;
  gap: 3rem;
}

.about-left {
  width: 600px;
}

.about-left h2 {
  color: #ff7b00;
}

.about-left p {
  margin: 1rem 0;
}

.socials {
  display: flex;
  gap: 0.8rem;
}

.socials div {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 8px;

  background-color: #020817;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials a {
  font-size: 2rem;
  color: #fff;
  transition: color 0.3s;
}
.socials a:hover {
  color: #ff7b00; /* LinkedIn Blue or change based on social */
}

.about-right img {
  width: 250px;
  border-radius: 8px;
}

/* Skills section */
.skills-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.skills-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 40%;
  margin: 50px auto;
}

.skill-box {
  width: 150px;
  height: 150px;
  background-color: #020817;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
